secrets/*
appdata/*
!appdata/authelia/secrets/*
!appdata/authelia/secrets/*_sample
!appdata/authelia/configuration.yml
!appdata/authelia/user_database.yml
!appdata/traefik/traefik.yml
!appdata/traefik/config.yml